@using EbenWeb.Models
@model Contact
@{
    ViewData["Title"] = "Contact";
}


@{
    ViewData["Title"] = "Contact";
}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Contact Us</h1>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Contact 1 start -->
<div class="contact-1 content-area-7">
    <div class="container">
        <div class="main-title">
            <h1><strong>Contact <span style="color:#ef5169"> Us</span></strong></h1>
            <p>Want to get in touch? Here is how you can reach us.</p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form asp-area="" enctype="multipart/form-data" asp-controller="Home" asp-action="contact" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group name">

                                <input asp-for="Name" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group email">
                                <input asp-for="Email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @**@
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group number">
                                <input asp-for="Phone" name="phone" class="form-control" placeholder="Mobile number">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group message">
                                <select asp-for="Service" class="form-control" style="color:black !important" asp-items="Model.Services"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group message">
                                <textarea class="form-control" asp-for="Message" name="Message" placeholder="Write message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="send-btn">
                                <button type="submit" name="submitMessage" onclick="SendEmail()" role="button" class="btn btn-info sign-in">Send Message</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <h3>Contact Info</h3>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="detail">
                            <h5>Office Address</h5>
                            <p>19 Rooikrans road, Bloubosrand, Randburg, 2188</p>
                        </div>
                    </div>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="detail">
                            <h5>Phone</h5>
                            <p><a href="tel:+27837711778">+27837711778</a> </p>
                        </div>
                    </div>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="detail">
                            <h5>Email</h5>
                            <p><a href="mailto:info@ebenproperty.co.za">info@ebenproperty.co.za</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact 1 end -->
<!-- Google map start -->
@*<div class="section">
        <div class="map">
            <div id="contactMap" class="contact-map"></div>
        </div>
    </div>*@
<!-- Google map end -->

<script type="text/javascript">
    function SendEmail() {
 var ContactModel = {
            Name: $("#Name").val()
            , Email: $("#Email").val()
            , Phone: $("#Phone").val()
            , Service: $("#Service").val()
            , Message: $("#Message").val()
        };
        var url = "@Url.Action("Contact", "Home")"
        $.post(url, ContactModel, function (res) {
            alert("Message has been successfully sent!");
        });

        $("#Name").val('');
        $("#Email").val('');
        $("#Phone").val('');
        $("#Service").val('');
        $("#Message").val('');
        

    }
</script>