@{
    ViewData["Title"] = "Home Page";
}


<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active item-bg">
                <img class="d-block w-100 h-100" src="assets/img/banner/img-1.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container b1-inner">
                        <div class="t-center">
                            <h5 data-animation="animated fadeInDown delay-05s">The Best Real Estate Deals</h5>
                            <h1 data-animation="animated fadeInDown delay-05s">Buy to Let Property Investments</h1>
                            <a data-animation="animated fadeInUp delay-10s" asp-area="" asp-controller="Services" asp-action="PropertyInvestments" class="btn btn-lg btn-theme">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="assets/img/banner/img-4.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container b1-inner">
                        <div class="t-center">
                            <h5 data-animation="animated fadeInDown delay-05s">Peace of Mind through Active Management </h5>
                            <h1 data-animation="animated fadeInDown delay-05s">Rental <span>Management</span> </h1>
                            <a data-animation="animated fadeInUp delay-10s" asp-area="" asp-controller="Services" asp-action="RentalManagement" class="btn btn-lg btn-theme">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="assets/img/banner/img-6.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container b1-inner">
                        <div class="t-center">
                            <h5 data-animation="animated fadeInDown delay-05s">Professional Service. Lowest fees</h5>
                            <h1 data-animation="animated fadeInDown delay-05s">Property Maintenance</h1>
                            <a data-animation="animated fadeInUp delay-10s" asp-area="" asp-controller="Services" asp-action="PropertyMaintenance" class="btn btn-lg btn-theme">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-secton">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
        </div>
    </div>
</div>
<!-- banner end -->
<!-- services 3 start -->
<div class="services-3 content-area-20 bg-white">
    <div class="container">
        <div class="main-title">
            <h1>Welcome to the <span style="color:#ef5169">ABC of property</span></h1>
            <p>
                <span style="color:blue">Eben</span>, offers you hassle-free property investment opportunities in South Africa that deliver you excellent returns on your investment. For people who want to get a foot in the property market, we offer you a one stop shop for creating your property portfolio, protecting your investment and manage your property wealth. We do offer a host of services related to property investment and web application services that really work hard to bring you peace of mind regarding your property investment.
            </p>
            <br />
            <p>
                At <span style="color:blue">Eben</span>, we continuously look around for the best investment deals and suitable locations that maximise your returns. We make sure that properties are located close to economic hubs with easy access to major highways and transport routes, places of work, schools and other amenities to ensure that there is high demand for housing in an area.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 services-info-3 s-brd-1 wow fadeInUp delay-04s">
                <i class="flaticon-idea"></i>
                <h5>Property <span style="color:#ef5169">Investment</span></h5>
                <p>
                    Our team of experts assist you in making the best strategy and decisions to building your property wealth.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 services-info-3 wow fadeInRight delay-04s">
                <i class="flaticon-house"></i>
                <h5><span style="color:#ef5169">Rental</span> management</h5>
                <p>
                    We endeavor to ease the processes of rental property.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 services-info-3 s-brd-3 wow fadeInDown delay-04s">
                <i class="flaticon-call-center-agent"></i>
                <h5>Tax and <span style="color:#ef5169">accounting services</span></h5>
                <p>
                    At <span style="color:blue">Eben</span>, we help you stay on top of  accounting and compliance with tax for your property investments.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- services 3 end -->
<!-- Counters start -->
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp delay-04s">
                <div class="counter-box">
                    <i class="flaticon-tag"></i>
                    <h1 class="counter">20</h1>
                    <h5>Lines of Sale</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInDown delay-04s">
                <div class="counter-box">
                    <i class="flaticon-badge"></i>
                    <h1 class="counter">12</h1>
                    <h5>Listings For Rent</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInUp delay-04s">
                <div class="counter-box">
                    <i class="flaticon-call-center-agent"></i>
                    <h1 class="counter">7</h1>
                    <h5>Agents</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 wow fadeInDown delay-04s">
                <div class="counter-box">
                    <i class="flaticon-job"></i>
                    <h1 class="counter">25</h1>
                    <h5>Brokers</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
<!-- Featured properties start -->
<div class="featured-properties content-area-10 bg-white" style="padding-top: 20px;">
    <div class="container">
        <div class="main-title">
            <h3><strong><span style="color:#ef5169">Team of</span> Experts</strong></h3>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
        </div>
        <div class="col-lg-12">
            <div class="row property-box-6">
                <div class="col-lg-6 col-pad">
                    <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div>
                            <img src="~/assets/img/property/img-invest.jpg" class="img-fluid" alt="property-4">
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6 col-pad align-self-center">
                    <div class="info">
                        @*<h3>
                            <a><strong>Investment made Easy</strong> </a>
                        </h3>*@
                        <p>
                            With a team of experts, <span style="color:blue">Eben</span>, assists you to identify, build and manage solid property portfolios and make a success of your investment. Through our network of well-established and reputable developers, professionals in real estate and finance, legal experts, we can deliver you unique services that suit you.
                        </p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <h3><strong><span style="color:#ef5169">We offer you the best</span> value services in:</strong></h3>
                                <ul>
                                    <li>
                                        Property investment advice
                                    </li>
                                    <li>
                                        Property investment structuring
                                    </li>
                                    <li>
                                        Property finance
                                    </li>
                                    <li>
                                        Rental management
                                    </li>
                                    <li>
                                        Property maintenance
                                    </li>
                                    <li>
                                        Tax and accounting services
                                    </li>
                                </ul>
                            </div>
                        </div>
                        @*<a asp-area="" asp-controller="Services" asp-index="Index" class="btn btn-sm btn-color">Read more</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured properties end -->
<!-- Testimonial 4 start -->
<div class="testimonial-4 tml-4 content-area-7 overview-bgi" style="
    padding-top: 20px;
    padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <h1>Our Testimonial</h1>
                </div>
            </div>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel wow fadeInUp delay-04s" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item wow">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Since our first engagement with <span style="color:blue">Eben Property</span> a couple of years ago we have had nothing but excellent service. The team is very pro-active and make our lives very easy!</p>
                        </div>
                        <div class="arrow-down"></div>
                        <div class="media user">
                            @*<a href="#">
                                    <img src="assets/img/avatar/avataemale2.jpg" alt="testimonial-4" class="img-fluid">
                                </a>*@
                            <div class="media-body align-self-center">
                                <h5>Sashlin Naidoo</h5>
                                <h6>Property Investor</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item wow">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>My husband and I are thrilled with the property management being provided to us by <span style="color:blue">Eben Property</span>. We truly feel that they go above and beyond to deliver wonderful, personalised property management of the highest standard.</p>
                        </div>
                        <div class="arrow-down"></div>
                        <div class="media user">
                            @*<a href="#">
                                    <img src="assets/img/avatar/avatarfemale.jpng" alt="testimonial-4" class="img-fluid">
                                </a>*@
                            <div class="media-body align-self-center">
                                <h5>Sibongile Majola</h5>
                                <h6>Landlord</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p> Ownership statements and finances are always on time, property reports and maintenance are handled efficiently and communications are first rate.</p>
                        </div>
                        <div class="arrow-down"></div>
                        <div class="media user">
                            @*<a href="#">
                                    <img src="assets/img/avatar/avatarmale.png" alt="testimonial-4" class="img-fluid">
                                </a>*@
                            <div class="media-body align-self-center">
                                <h5>
                                    Dumisani Tshabalala
                                </h5>
                                <h6>Property Owner</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="content-box">
                            <p>Thank you for your professionalism, efficiency and really taking the time to understand my needs! You’ve just been amazing and I hope this is just the beginning of many long years of association.</p>
                        </div>
                        <div class="arrow-down"></div>
                        <div class="media user">
                            @*<a href="#">
                                    <img src="assets/img/avatar/avatar-4.jpg" alt="testimonial-4" class="img-fluid">
                                </a>*@
                            <div class="media-body align-self-center">
                                <h5>
                                    Jeniffer Allan
                                </h5>
                                <h6>Property Owner</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial 4 end -->
