
@{
    ViewData["Title"] = "Pricing";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Pricing</h1>
            @*<ul class="breadcrumbs">
                <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Home</a></li>
                <li class="active">Pricing</li>
            </ul>*@
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Pricing tables start -->
<div class="pricing-tables content-area-2">
    <div class="container">
        <div class="main-title">
            <h1>Pricing</h1>
            <p>Web application subscription</p>
        </div>

      

        <div class="row">
            <div class="col-lg-12">
                <div class="pricing">
                    <div class="price-header">
                        @*<div class="title">Basic Plan</div>
        <div class="price">$20.99</div>*@
                        <div>
                            <h2><stong>More <span style="color:#ef5169">information</span></stong></h2>
                            <p>
                                <ul>
                                    <li>
                                        We don’t need any credit card information up front.
                                    </li>
                                    <li>
                                        Your private account will be set up immediately so you can get started without delay.
                                    </li>
                                    <li>
                                        The first full calendar month is <strong>FREE</strong>
                                    </li>
                                    <li>
                                        On the first of the second calendar month you will be emailed your first invoice.
                                    </li>
                                    <li>
                                        Invoices are calculated on the 1st of each month and is based on the number of properties you have at that time.
                                    </li>
                                    <li>
                                        You can close your account at any time - no notice required.
                                    </li>
                                </ul>
                            </p>
                        </div>

                        <div>
                            <table border="1">
                               <tr>
                                   <th>Plan</th>
                                   <th>Services included</th>
                                   <th>Monthly fee per property</th>
                               </tr>
                                <tr>
                                    <td>
                                        Use App to manage your own
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                Send invoices to tenants
                                            </li>
                                            <li>
                                                Track income and expense
                                            </li>
                                            <li>
                                                Upload and store documents
                                            </li>
                                            <li>
                                                	Manage tenants
                                            </li>
                                            <li>
                                                Inspections on property
                                            </li>
                                            <li>
                                                	Request maintenance
                                            </li>
                                            <li>
                                                	Generate several reports
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        R100
                                    </td>
                                </tr>
                            </table>

                            <br/>
                            <h2><span style="color:#ef5169">Services</span></h2>
                            <br/>
                            <table border="1" cellpadding="1">
                                <tr>
                                    <td colspan="2">
                                        <strong>Investment company set-up</strong>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Management fees
                                    </td>
                                    <td>
                                        4% to 8% of the total value of the project
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>Rental Management</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Once-off procurement and lease fee
                                    </td>
                                    <td>
                                        5% of annual lease agreement value
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Managed lease
                                    </td>
                                    <td>
                                        6.5% of monthly rental on a property
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <ul>
                                            <li>
                                                The above fees and rates exclude bank charges, lawyers’ fees and any third-party charges.
                                            </li>
                                            <li>
                                                Discounts will be applied where 2 or more services are subscribed by an individual.
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <p class="text-center">
                                <span style="color:blue">Eben</span> is the no.1 App that helps you to manage your property and be Tax compliant!!
                            </p>
                            <br/>
                            
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>
                            <strong> <span style="color:#ef5169">Rental Made Easy</span></strong> 
                        </h3>
                        <h3>
                            <strong><span style="color:blue">Property Investment for You</span></strong>  
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing tables end -->

