
@{
    ViewData["Title"] = "Pricing";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Pricing</h1>
            <ul class="breadcrumbs">
                <li><a asp-area="" asp-controller="Home" asp-action="Pricing">Home</a></li>
                <li class="active">Pricing</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
<!-- Pricing tables start -->
<div class="pricing-tables content-area-2">
    <div class="container">
        <div class="main-title">
            <h1>Pricing</h1>
            <p>Web application subscription</p>
        </div>

      

        <div class="row">
            <div class="col-lg-12">
                <div class="pricing">
                    <div class="price-header">
                        @*<div class="title">Basic Plan</div>
        <div class="price">$20.99</div>*@
                        <div>
                            <h2>More information</h2>
                            <p>
                                <ul>
                                    <li>
                                        We don’t need any credit card information up front.
                                    </li>
                                    <li>
                                        Your private account will be set up immediately so you can get started without delay.
                                    </li>
                                    <li>
                                        The first full calendar month is <strong>FREE</strong>
                                    </li>
                                    <li>
                                        On the first of the second calendar month you will be emailed your first invoice.
                                    </li>
                                    <li>
                                        Invoices are calculated on the 1st of each month and is based on the number of properties you have at that time.
                                    </li>
                                    <li>
                                        You can close your account at any time - no notice required.
                                    </li>
                                </ul>
                            </p>
                        </div>

                        <div>
                            <table border="1">
                               <tr>
                                   <th>Plan</th>
                                   <th>Services included</th>
                                   <th>Monthly fee per property</th>
                               </tr>
                                <tr>
                                    <td>
                                        Use App to manage your own
                                    </td>
                                    <td>
                                        <ul>
                                            <li>
                                                Send invoices to tenants
                                            </li>
                                            <li>
                                                Track income and expense
                                            </li>
                                            <li>
                                                Upload and store documents
                                            </li>
                                            <li>
                                                	Manage tenants
                                            </li>
                                            <li>
                                                Inspections on property
                                            </li>
                                            <li>
                                                	Request maintenance
                                            </li>
                                            <li>
                                                	Generate several reports
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        R100
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing tables end -->
