
@{
    ViewData["Title"] = "Architecture";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Architecture </h1>
            <ul class="breadcrumbs">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Architecture</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 mb-50">
                    @*<div class="blog-photo">
                            <img src="assets/img/blog/blog-3.jpg" alt="blog" class="img-fluid">
                        </div>*@
                    <div class="detail">
                        <h2>
                            <a>ARCHITECTURE  </a>
                        </h2>

                        <p>
                            Hang on, we are not done yet until you make your dream building plans with us, we have reputable and dynamic architects to fulfil your building design dreams!!
                        </p>

                        <p>
                            Whether it be Residential, developing a Hospital or Shopping Mall development, give us a trial before you make that final move.
                        </p>
                        
                        <p>
                            Some of the architecural services we offer are:
                            <ul>
                                <li>
                                    Architectural design
                                </li>
                                <li>
                                    3-D Visuals
                                </li>
                                <li>
                                    Revamp
                                </li>
                                <li>
                                    Virtual reality
                                </li>
                                <li>
                                    Residential projects
                                </li>
                                <li>
                                    Eco-friendly concepts
                                </li>
                            </ul>
                            Contact our professional architectural team for all your design and drawing requirements and make life happened!
                        </p>

                        <p>
                            <h2>Where to build </h2>
                            <br />
                            Below are some of the most well positioned dream residential stands on the market.
                            <ul>
                                <li>Johannesburg</li>
                                <li>Capetown</li>
                                <li>Durban</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
