
@{
    ViewData["Title"] = "Property Maintenance";
}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>PROPERTY MAINTENANCE </h1>
            <ul class="breadcrumbs">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Property Maintenance  </li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 mb-50">
                    @*<div class="blog-photo">
                            <img src="assets/img/blog/blog-3.jpg" alt="blog" class="img-fluid">
                        </div>*@
                    <div class="detail">
                        <h2>
                            <a>PROPERTY MAINTENANCE  </a>
                        </h2>

                        <p>
                            Do you find yourself taken from pole to pillar by property upkeep and maintenance?
                            Or you are too far and busy to execute the maintenance yourself?
                        </p>

                        <p>
                            At Eben, we are happy to extend property maintenance services of the very same high standard given to our own properties to you. We lower the cost of maintenance down by deploying our in-house team of permanently employed professional property care givers. In cases where we do not have the in-house skill or unable to get to a location, we make use of our network of qualified service providers.
                        </p>

                        <p>
                            Our objective is to remove the burden and hassle of the maintenance, monitoring the quality of work that comes along with property ownership.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


