
@{
    ViewData["Title"] = "Property Maintenance";
}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>PROPERTY MAINTENANCE </h1>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="blog-1 mb-50">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="detail">
                        <h2>
                            <a><strong><span style="color:#ef5169">PROPERTY</span> MAINTENANCE</strong>  </a>
                        </h2>

                        <p>
                            Do you find yourself taken from pole to pillar by property upkeep and maintenance?
                            Or you are too far and busy to execute the maintenance yourself?
                        </p>

                        <p>
                            At <span style="color:blue">Eben</span>, we are happy to extend property maintenance services of the very same high standard given to our own properties to you. We lower the cost of maintenance down by deploying our in-house team of permanently employed professional property care givers. In cases where we do not have the in-house skill or unable to get to a location, we make use of our network of qualified service providers.
                        </p>

                        <p>
                            Our objective is to remove the burden and hassle of the maintenance, monitoring the quality of work that comes along with property ownership.
                        </p>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">

                    <div class="detail">
                        <img src="~/assets/img/property/img-maintenance.jpg" alt="property" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <img src="~/assets/img/property/img-main2.jpg" alt="property" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <p><h3><strong>Schedule Maintenance <span style="color:#ef5169">via our App</span> </strong></h3></p>
                    <p>
                        <ol type="1">
                            <li>
                                Sign up and complete your Landlord Profile
                            </li>
                            <li>
                                Name your rental property
                            </li>
                            <li>
                                Select the service required and create a maintenance job
                            </li>
                        </ol>
                    </p>
                    <p>
                        <h3><strong><span style="color:#ef5169">Why Use</span> the App</strong></h3>
                        <ul>
                            <li>
                                Get priority jobs done quicker
                            </li>
                            <li>
                                Keep your tenant in the loop
                            </li>
                            <li>
                                Receive notifications on job status
                            </li>
                            <li>
                                Secure Intermediary to pay for completed jobs
                            </li>
                            <li>
                                Safety assurance by using known parties
                            </li>
                            <li>
                                Workmanship guarantee
                            </li>
                        </ul>
                    </p>
                    <p>
                        <h4><strong>When a third-party service<span style="color:#ef5169"> provider gets involved</span> </strong></h4>
                        There is no additional cost to you when you make use of 3rd party service providers. You get the actual invoice pay the 3rd party service provider. <span style="color:blue">Eben</span> does not charge any extras.
                        <br />
                        We enjoy preferential rates from our network and we pass those savings to our valued clients.

                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h3>
                            <strong style="color:blue">Maintenance Made Easy</strong> 
                        </h3> <br />
                        <h3>
                            <strong style="color:#ef5169">Property Investment for You</strong> 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


