
@{
    ViewData["Title"] = "Property Investments";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Property Investments</h1>
            @*<ul class="breadcrumbs">
            <li><a asp-arective"a="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="a>Property Investments</li>
        </ul>*@
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 mb-50">
                    @*<div class="blog-photo">
                        <img src="assets/img/blog/blog-3.jpg" alt="blog" class="img-fluid">
                    </div>*@
                    <div class="detail">
                        <h2>
                            <a><strong> <span style="color:#ef5169">PROPERTY</span> INVESTMENTS</strong> </a>
                        </h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    We provide expert advice on how to strategically buy property, such as how to choose the right area, and how to structure, finance and optimise your investment. We provide you the theory and ‘streetwise tips’ to implement the steps to grow your property portfolio.
                                </p>
                                <h4>Investment Advice<span style="color:#ef5169"> to Get You Going</span> </h4>
                                <p>
                                    Our Team of Experts discuss your individual needs and assist to formulate a detailed plan of your property investment or review your existing portfolio. We are open minded to discuss your financial future and how you can leverage borrowing, time and effort in building your buy-to-let property investments.
                                </p>

                                <p>
                                    At <span style="color:blue">Eben</span>, we are continuously looking for what are the sweetest deals on the market so that we can point you in the right direction.
                                </p>

                            </div>
                            <div class="col-lg-6">
                                <img src="~/assets/img/property/img-prop-inv.jpg" alt="property" class="img-fluid">
                            </div>
                        </div>
                        <h4><span style="color:#ef5169">Location</span> is KEY</h4>
                        <p>
                            Yes, we all know that location, location, location is key to good property investment, but there are a few other factors that can be considered when investing in property. Talk to our expert consultants for a quality <a asp-area="" asp-controller="Home" asp-action="Contact">consultation</a>.
                        </p>
                        <p>
                            <span style="color:blue">Eben</span>, offer investors a full array of services that make property investment as easy as ABC.
                        </p>
                        <p>
                            We welcome you to a new way of thinking Property. Whether you are 1st time investor, building up for retirement or simply growing your portfolio, Now is the time to buy! Property investments secures your wealth, financial independence and gives a head start for generations to come.
                        </p>


                        <div class="text-center">
                            <h3><a><span style="color:#ef5169"><strong>Investing Made Easy</strong></span></a></h3>
                            <h3><a><span style="color:blue"><strong>Property Investment for You</strong></span></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
