
@{
    ViewData["Title"] = "Rental Management";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>RENTAL MANAGEMENT</h1>
            @*<ul class="breadcrumbs">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="active">Rental Management </li>
                </ul>*@
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="blog-1 mb-50">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="detail">
                        <h2>
                            <a><strong><span style="color:#ef5169">RENTAL</span> MANAGEMENT</strong></a>
                        </h2>
                        <p>
                            At <span style="color:blue">Eben</span> we understand that the last thing you want as a property investor is for your unit to lay vacant. We also understand that a lot of people avoid buy to let property for the simple reason of the difficulty of dealing with problem tenants.
                        </p>

                        <p>
                            A property investment is only a viable investment option if it is easy to manage. You can manage your property yourself, but if it ever becomes a time-consuming or complicated affair for you, make use of our reliable property management service at a minimal fee. We take away the headaches of finding, screening and replacing tenants, maintenance, rent collection and conducting in- and out-inspections.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="blog-1 mb-50">
                        <img src="~/assets/img/property/img-flat.jpg" alt="property" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-section content-area-21">
            <div class="blog-1 mb-50">
                <div class="container">
                    <h3 class="text-center">
                        <a>Make use of the Eben App <span style="color:#ef5169">to manage your properties</span> </a>
                    </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-12">

                            <div class="blog-1 mb-50">
                                <img src="~/assets/img/property/img-flat2.jpg" alt="property" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <p>
                                With the use of the Web application you will be able to:
                                <ul>
                                    <li>
                                        Send invoices to tenants
                                    </li>
                                    <li>
                                        Track income and expense
                                    </li>
                                    <li>
                                        Upload and store documents
                                    </li>
                                    <li>
                                        Manage your tenants
                                    </li>
                                    <li>
                                        Log and store Inspections on property
                                    </li>
                                    <li>
                                        Request maintenance services
                                    </li>
                                    <li>
                                        Generate several reports
                                    </li>
                                    <li>
                                        Be ready for tax returns
                                    </li>
                                </ul>
                            </p>
                            <p>
                                Our <span style="color:blue">Eben</span> web app allows you to manage your property. You can choose to
                                <ol type="A" style="padding:20px">
                                    <li>
                                        Use the App own your own
                                    </li>
                                    <li>
                                        Use the App to view the managed support you get from <span style="color:blue">Eben</span>
                                    </li>
                                </ol>
                                <a asp-area="" asp-controller="Home" asp-action="Contact" style="color:blue">Sign up</a> to the Eben App today.
                            </p>
                            <p>
                                <h3><strong>Benefits of using <span style="color:#ef5169">the Eben App</span></strong></h3> 
                                <ul>
                                    <li>
                                        One point of call for your property
                                    </li>
                                    <li>
                                        Easy to use tools
                                    </li>
                                    <li>
                                        Easy maintenance scheduling
                                    </li>
                                    <li>
                                        Easy track your finances
                                    </li>
                                    <li>
                                        Tax compliance
                                    </li>
                                    <li>
                                        Professional dealing
                                    </li>
                                    <li>
                                        Clear and transparent fee structures
                                    </li>
                                </ul>
                                The <span style="color:blue">Eben</span> App can be used independently, whether you have other business with us or not. You can still subscribe to the web application if you want to manage your own property in an easy and professional manner.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

