
@{
    ViewData["Title"] = "Rental Management";
}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>RENTAL MANAGEMENT</h1>
            <ul class="breadcrumbs">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">Rental Management </li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<div class="blog-section content-area-21">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <!-- Blog grid box start -->
                <div class="blog-1 mb-50">
                    @*<div class="blog-photo">
                            <img src="assets/img/blog/blog-3.jpg" alt="blog" class="img-fluid">
                        </div>*@
                    <div class="detail">
                        <h2>
                            <a>RENTAL MANAGEMENT  </a>
                        </h2>
                        <p>
                            At Eben we understand that the last thing you want as a property investor is for your unit to lay vacant. We also understand that a lot of people avoid buy to let property for the simple reason of the difficulty of dealing with problem tenants.
                        </p>

                        <p>
                            A property investment is only a viable investment option if it is easy to manage. You can manage your property yourself, but if it ever becomes a time-consuming or complicated affair for you, make use of our reliable property management service at a minimal fee. We take away the headaches of finding, screening and replacing tenants, maintenance, rent collection and conducting in- and out-inspections.
                        </p>

                        <h3>
                            <a>Make use of the Eben App to manage your properties</a>
                        </h3>
                        <p>
                            With the use of the Web application you will be able to:
                            <ul>
                                <li>
                                   Send invoices to tenants
                                </li>
                                <li>
                                    Track income and expense
                                </li>
                                <li>
                                    Upload and store documents
                                </li>
                                <li>
                                    Manage your tenants
                                </li>
                                <li>
                                    Log and store Inspections on property
                                </li>
                                <li>
                                    Request maintenance services
                                </li>
                                <li>
                                    Generate several reports
                                </li>
                                <li>
                                    Be ready for tax returns
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

